{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tenyrsdiary/style.css' %}">

<div class="container">
    <div class="box other">
        <h3 class="box title">心靈反思 Mind</h3>
        <div class="box content">
            <ul>
                <il>生理</il>
                <il>精神</il>
                <il>反省</il>
            </ul>
        </div>
        <a href="" class="input">+</a>
    </div>
    <div class="box other">
        <h3 class="box title">工作事業 Career</h3>
        <div class="box content">
            <ul>
                <il></il>
            </ul>
        </div>
        <a href="" class="input">+</a>
    </div>
    <div class="box other">
        <h3 class="box title">學習成長 Study</h3>
        <div class="box content">
            <ul>
                <il>閱讀</il>
                <il>研究</il>
                <il>資訊</il>
            </ul>
        </div>
        <a href="" class="input">+</a>
    </div>
    <div class="box other">
        <h3 class="box title">今日代辦 Todo</h3>
        <div class="box content">
            <ul>
                <il></il>
            </ul>
        </div>
        <a href="" class="input">+</a>
    </div>
    <div class="box today">
        <h3 class="box title">2020/08/20 星期四</h3>
        <div class="box content">
            <ul>
                <il>天氣</il>
                <il>紀念</il>
                <il>壽星</il>
            </ul>
        </div>
        <a href="" class="input">+</a>
    </div>
    <div class="box other">
        <h3 class="box title">人際關係 Relationship</h3>
        <div class="box content">
            <ul>
                <il></il>
            </ul>
        </div>
        <a href="" class="input">+</a>
    </div>
    <div class="box other">
        <h3 class="box title">財務管理 Asset</h3>
        <div class="box content">
            <ul>
                <il></il>
            </ul>
        </div>
        <a href="" class="input">+</a>
    </div>
    <div class="box other">
        <h3 class="box title">家庭瑣事 Family</h3>
        <div class="box content">
            <ul>
                <il></il>
            </ul>
        </div>
        <a href="" class="input">+</a>
    </div>
    <div class="box other">
        <h3 class="box title">創意驚喜 Surprise</h3>
        <div class="box content">
            <ul>
                <il></il>
            </ul>
        </div>
        <a href="" class="input">+</a>
    </div>
</div>