*
{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ccc;
}
.container
{
    position: relative;
    display: flex;
    width: 765px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .box
{
    position: relative;
    width: 180px;
    height: 180px;
    margin: 10px 10px;
    padding: 10px;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
    overflow: hidden;
    box-shadow: inset -5px -5px 5px rgba(0,0,0,0.2), 
                inset 5px 5px 5px rgba(255,255,255,0.2);
}
.container .box:hover
{
    box-shadow: inset -5px -5px 10px rgba(255,255,255,.2), 
                inset 5px 5px 10px rgba(0,0,0,0.2);
}
.container .box .title
{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
}
.container .box .title .en
{
    display: flex;
}
.container .box:hover .title .en
{
    display: none;
}
.container .box .title .tw
{
    display: none;
}
.container .box:hover .title .tw
{
    display: flex;
}
.container .box .content
{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80%;
    font-size: 0.7em;
    margin: 5px;
    text-align: center;
}
.container .box .add
{
    display: none;
    overflow: hidden;
}
.container .box .add a
{
    font-size: 1em;
    color: #ccc;
    text-align: center;
    margin: 5px;
    text-decoration: none;
    border-radius: 30px;
    background: #333;
    padding: 5px 10px;
}
.container .box:hover .content
{
    display: none;
}
.container .box:hover .add
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}